@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

* {
	scrollbar-width: thin;
}

[data-theme='light'] .hljs {
	background: #edf2f7 !important;
}

.divider {
	height: auto;
	margin: auto;
}

.divider-horizontal {
	height: 100%;
}

.prose {
	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	figure,
	p,
	li,
	ul,
	ol {
		margin: 0;
		border-radius: 0.25rem;
	}
}

.prose {
	max-width: inherit;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	background-color: inherit;
	padding: 1px 1px;
}


.prose pre {
	background-color: inherit;
	color: inherit;
	margin: 0 0 0.5rem 0;
	padding: 0;
	width: 100%;
	/* font-size: 100%; */
}

.katex * {
	margin: 0;
	text-align: left;
}

.MathJax svg {
	display: initial !important;
}

/* .katex-display {
	margin-left: 0;
}

@media (min-width: 768px) {
	.katex-display {
		margin-left: 10rem !important;
	}
} */
