@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

* {
	scrollbar-width: thin;
}

[data-theme='light'] .hljs {
	background: #edf2f7 !important;
}

.divider {
	height: auto;
	margin: auto;
}

.divider-horizontal {
	height: 100%;
}

