@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

* {
	scrollbar-width: thin;
}

[data-theme='light'] .hljs {
	background: #edf2f7 !important;
}

.divider {
	height: auto;
	margin: auto;
}

.divider-horizontal {
	height: 100%;
}

.prose {
	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	figure,
	p,
	li,
	ul,
	ol {
		margin: 0;
		border-radius: 0.25rem;
	}
}

.prose {
	max-width: inherit;
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	background-color: inherit;
	padding: 1px 1px;
}

.prose pre {
	background-color: inherit;
	color: inherit;
	margin: 0 0 0.5rem 0;
	padding: 0;
	width: 100%;
	/* font-size: 100%; */
}

.no-spinner {
	-moz-appearance: textfield;
	appearance: textfield;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-drag,
.no-drag * {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}

.katex * {
	margin: 0;
	/* text-align: left; */
}

.MathJax svg {
	display: initial !important;
}

.tab-size-2 {
	tab-size: 2;
}

.tab-size-4 {
	tab-size: 4;
}

input.tab:checked + .tab-content,
:is(.tab-active, [aria-selected='true']) + .tab-content {
	display: flex;
	flex-direction: column;
}
input.tab:checked + .tab-content,
:is(.tab-active, [aria-selected='true']) + .tab-content {
	display: flex;
	flex-direction: column;
}

.bg-checkered {
	background-image: linear-gradient(45deg, #404040 25%, transparent 25%),
		linear-gradient(-45deg, #404040 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #404040 75%),
		linear-gradient(-45deg, transparent 75%, #404040 75%);
	background-size: 14px 14px;
	background-position:
		0 0,
		0 7px,
		7px -7px,
		-7px 0px;
}

.pixilated {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

/* .katex-display {
	margin-left: 0;
}

@media (min-width: 768px) {
	.katex-display {
		margin-left: 10rem !important;
	}
} */

.wrap {
	font-family: monospace;
	font-size: 14px;
	--jsonBorderLeft: none;
}

.wrap ul {
	padding-left: 10px !important;
}
