@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	figure,
	p,
	li,
	ul,
	ol {
		margin: 0;
		border-radius: 0.25rem;
	}
}

.prose pre {
	border-radius: 0.2rem;
	margin: 0 0 0.5rem 0;

	padding: 0;
	width: 90%;
}


.divider {
	height: auto;
	margin: auto;
}

.divider-horizontal {
	height: 100%;
}

* {
	scrollbar-width: thin;
}
